{"swagger":"2.0","info":{"title":"ORDS generated API for celecsur","version":"1.0.0"},"host":"generacioncsr.celec.gob.ec:8443","basePath":"/ords/csr/sardomcsr","schemes":["https"],"produces":["application/json"],"paths":{"/csrCaudCuenAnioAvg":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}}]}},"/csrCaudCuenAniosAvg":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}}]}},"/csrCaudCuenMesAvg":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}}]}},"/csrEnerAnio":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/csrEnerAnios":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/csrEnerDia":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/csrEnerMes":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/csrEstUnidades":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"central":{"$ref":"#/definitions/VARCHAR2"},"unidad":{"$ref":"#/definitions/CHAR"},"valor":{"$ref":"#/definitions/CHAR"}}}}}}}},"parameters":[]}},"/csrProdLinea":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/definitions/NUMBER"},"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[]}},"/csrProdLineaEnerAll":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/definitions/NUMBER"},"loctimestamp":{"$ref":"#/definitions/DATE"},"magnitud":{"$ref":"#/definitions/CHAR"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[]}},"/csrProdLineaEnerDay":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/definitions/NUMBER"},"loctimestamp":{"$ref":"#/definitions/DATE"},"magnitud":{"$ref":"#/definitions/CHAR"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[]}},"/csrProdLineaLast2h":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"hora":{"$ref":"#/definitions/NUMBER"},"id":{"$ref":"#/definitions/NUMBER"},"loctimestamp":{"$ref":"#/definitions/DATE"},"magnitud":{"$ref":"#/definitions/VARCHAR2"},"units":{"$ref":"#/definitions/VARCHAR2"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[]}},"/pointValues":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesAnio":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesAnioAvg":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesAnioH24":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesAnios":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesAniosAvg":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesAniosH24":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesMes":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesMesAvg":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/pointValuesMesH24":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true},{"fechaFin":{"$ref":"#/definitions/TIMESTAMP"}},{"fechaInicio":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"mrid","in":"header","type":"integer","required":true}]}},"/repDiaEner12m":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"enerala":{"$ref":"#/definitions/NUMBER"},"enerdel":{"$ref":"#/definitions/NUMBER"},"enermaz":{"$ref":"#/definitions/NUMBER"},"enermol":{"$ref":"#/definitions/NUMBER"},"enermsf":{"$ref":"#/definitions/NUMBER"},"enersop":{"$ref":"#/definitions/NUMBER"},"loctimestamp":{"$ref":"#/definitions/DATE"},"maxenerala":{"$ref":"#/definitions/NUMBER"},"maxenerdel":{"$ref":"#/definitions/NUMBER"},"maxenermaz":{"$ref":"#/definitions/NUMBER"},"maxenermol":{"$ref":"#/definitions/NUMBER"},"maxenermsf":{"$ref":"#/definitions/NUMBER"},"maxenersop":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/repDiaEnerAyerHoy":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"central":{"$ref":"#/definitions/VARCHAR2"},"enerayer":{"$ref":"#/definitions/NUMBER"},"enerplanhoy":{"$ref":"#/definitions/NUMBER"},"fecha":{"$ref":"#/definitions/DATE"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/repDiaFactPlanta":{"post":{"description":"Create a new record on celecsur","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{"cv_1":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/celecsur_ITEM"}}]}},"/repDiaHid12m":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"limdel":{"$ref":"#/definitions/NUMBER"},"limmaz":{"$ref":"#/definitions/NUMBER"},"limmol":{"$ref":"#/definitions/NUMBER"},"limmsf":{"$ref":"#/definitions/NUMBER"},"loctimestamp":{"$ref":"#/definitions/DATE"},"min_del":{"$ref":"#/definitions/NUMBER"},"min_maz":{"$ref":"#/definitions/NUMBER"},"min_mol":{"$ref":"#/definitions/NUMBER"},"min_msf":{"$ref":"#/definitions/NUMBER"},"niveldel":{"$ref":"#/definitions/NUMBER"},"nivelmaz":{"$ref":"#/definitions/NUMBER"},"nivelmol":{"$ref":"#/definitions/NUMBER"},"nivelmsf":{"$ref":"#/definitions/NUMBER"},"qmax_del":{"$ref":"#/definitions/NUMBER"},"qmax_maz":{"$ref":"#/definitions/NUMBER"},"qmax_mol":{"$ref":"#/definitions/NUMBER"},"qmax_msf":{"$ref":"#/definitions/NUMBER"},"q_ingresadodel":{"$ref":"#/definitions/NUMBER"},"q_ingresadomaz":{"$ref":"#/definitions/NUMBER"},"q_ingresadomol":{"$ref":"#/definitions/NUMBER"},"q_ingresadomsf":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/repDiaMttos":{"post":{"description":"Create a new record on celecsur","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{"cv_1":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"v_reporte_mrid","in":"header","type":"integer","required":true},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/celecsur_ITEM_2"}}]}},"/repDiaNivQIng":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"embalse":{"$ref":"#/definitions/VARCHAR2"},"fecha":{"$ref":"#/definitions/DATE"},"nivel":{"$ref":"#/definitions/NUMBER"},"q_ingresado":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/repDiaPotQTurb":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"central":{"$ref":"#/definitions/VARCHAR2"},"fecha":{"$ref":"#/definitions/DATE"},"potencia":{"$ref":"#/definitions/NUMBER"},"q_turbinado":{"$ref":"#/definitions/NUMBER"},"unidlinea":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/repDiaRegAyer":{"get":{"description":"Retrieve records from celecsur","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"descr":{"$ref":"#/definitions/VARCHAR2"},"loctimestamp":{"$ref":"#/definitions/DATE"},"mazar":{"$ref":"#/definitions/NUMBER"},"minas":{"$ref":"#/definitions/NUMBER"},"molino":{"$ref":"#/definitions/NUMBER"},"sopladora":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/repDiaVolAlm":{"post":{"description":"Create a new record on celecsur","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{"cv_1":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"}}]}},"/repMesFactDisp":{"post":{"description":"Create a new record on celecsur","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{"cv_1":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"v_central","in":"header","type":"integer","required":true},{"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"}},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/celecsur_ITEM_3"}}]}}},"definitions":{"CHAR":{"type":"string"},"DATE":{"type":"string","format":"date-time","pattern":"^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"},"NUMBER":{"type":"number"},"RESULTSET":{"type":"string"},"TIMESTAMP":{"type":"string","format":"date-time","pattern":"^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"},"VARCHAR2":{"type":"string"},"celecsur_ITEM":{"properties":{"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"},"v_mensaje":{"type":"string"}}},"celecsur_ITEM_2":{"properties":{"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"},"v_reporte_mrid":{"type":"integer"},"v_mensaje":{"type":"string"}}},"celecsur_ITEM_3":{"properties":{"v_central":{"type":"integer"},"v_loctimestamp":{"$ref":"#/definitions/TIMESTAMP"},"v_locTimeStamp":{"type":"string"},"v_mensaje":{"type":"string"}}}}}