{"swagger":"2.0","info":{"title":"ORDS generated API for molino","version":"1.0.0"},"host":"generacioncsr.celec.gob.ec:8443","basePath":"/ords/csr/sardommol","schemes":["https"],"produces":["application/json"],"paths":{"/molEnerAnio":{"get":{"description":"Retrieve records from molino","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/molEnerAnios":{"get":{"description":"Retrieve records from molino","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/molEnerDia":{"get":{"description":"Retrieve records from molino","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}},"/molEnerMes":{"get":{"description":"Retrieve records from molino","produces":["application/json"],"responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"loctimestamp":{"$ref":"#/definitions/DATE"},"valueedit":{"$ref":"#/definitions/NUMBER"}}}}}}}},"parameters":[{"name":"fecha","in":"header","type":"string","required":true}]}}},"definitions":{"DATE":{"type":"string","format":"date-time","pattern":"^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"},"NUMBER":{"type":"number"}}}